body{
    font-family: 'Roboto', sans-serif;
    background-color: #081221;
}

.text-color{
    color: black;
}


.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-image: url(../img/pexels-simon-rizzi-1809644.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    gap: 2rem;
    letter-spacing: .5rem;
}



.boton-bienvenida{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 4rem;
}

.boton-color{
    color: white;
    font-weight: 500;
}

.bienvenida-iconos{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}

/* Acerca de mi */

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CFCFCD;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    width: 80rem;
}

.contenedor-sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    height: 25rem;
    gap: 5rem;

}


.contenedor-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-image: url(../img/C71E79D8-EF02-4233-AC3E-F5D9AD45F6DF_1_105_c.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem;
    border-radius: 5%;
}

.sobre-mi{
    max-width: 45rem;
}

/* Más info */
.contenedor-info{
    color: #CFCFCD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
}

.titulo-info{
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 500;
}

/* Portafolio */

.contenedor-portafolio{
    margin-top: 5rem;
}

.titulo-portafolio{
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.image-top{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Footer */

footer{
    background-color: #CFCFCD;
    margin-top: 5rem;
}

.contenedor-iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

hr{
    background-color: white;
}